<%= render 'common/titlecard', title: '', subtitle: "Updated #{time_ago_in_words(@article.updated_at)}" %>

<div class="card mt-3 ms-3" style="width: 50rem;">
  <div class="card-header">
      <%= @article.title %>
      <% if signed_in? && current_user == @article.user %>
      <a class="position-absolute top-2 end-0 me-2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><%= link_to "Edit", edit_article_path(@article), class: "dropdown-item" %></li>
          <li><%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %></li>
        </ul>
      <% end %>
  </div>
  
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @article.desc %></p>
      <footer class="blockquote-footer">written by <cite title="Author"><%= @article.user.username %></cite></footer>
    </blockquote>
  </div>
</div>


<%= render @article.categories %>