<% articles.each do |article| %>
  <div class="card mt-3 ms-3" style="width: 50rem;">
    
    <div class="card-header">
        <%= article.title %>
        <a class="position-absolute top-2 end-0 me-2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><%= link_to "View", article_path(article), class: "dropdown-item" %></li>
          <% if signed_in? && current_user == article.user %>
            <li><%= link_to "Edit", edit_article_path(article), class: "dropdown-item" %></li>
            <li><%= link_to "Delete", article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %></li>
          <% end %>
        </ul>
    </div>
    
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= article.desc[0..150] %></p>
        <footer class="blockquote-footer">written by <cite title="Author"><%= article.user.username %></cite></footer>
      </blockquote>
    </div>

  </div>
<% end %>
